/* ===============================
   Global Styles
   =============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #e9e2d0; /* soft earthy tan */
  color: #3e2c1c; /* dark brown */
}

/* ===============================
   HEADER
   =============================== */
header {
  background-color: #556b2f; /* forest green */
  color: #d9741d; /* orange */
  border: 3px solid rgb(49, 29, 5); /* dark brown */
  text-align: center;
  padding: 10px;
  font-size: 2em;
}

/* ===============================
   BANNER
   =============================== */
.banner {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 3px solid rgb(49, 29, 5);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 50%;
  display: block;
}

/* ===============================
   NAVIGATION
   =============================== */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #556b2f;
  border: 3px solid rgb(49, 29, 5);
}

th a {
  display: block;
  padding: 12px 0;
  text-align: center;
  color: #d9741d;
  text-decoration: none;
}

th a:hover {
  background-color: #e9e2d0;
  color: #d9741d;
}

/* ===============================
   MAIN CONTENT
   =============================== */
main section {
  padding: 20px;
}

h2, h3, h4 {
  color: #d9741d;
}

p {
  color: #3e2c1c;
  margin-bottom: 10px;
}

.first-paragraph {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  color: #3e2c1c;
}

/* ===============================
   FORMS (HOME + COMMUNITY)
   =============================== */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  margin: 20px auto;
  background-color:  #e9e2d0;
  padding: 10px;
  border: 3px solid rgb(49, 29, 5);
}

input, textarea {
  padding: 10px;
  border: 2px solid rgb(49, 29, 5);
  background-color: #556b2f;
  color: #d9741d;
}

button {
  padding: 10px;
  background-color: #556b2f;
  color: #d9741d;
  border: 3px solid rgb(49, 29, 5);
  cursor: pointer;
}

/* ===============================
   COMMUNITY ITEMS
   =============================== */
.item {
  width: 400px;
  background-color: #e9e2d0;
  border: 3px solid rgb(49, 29, 5);
  padding: 10px;
  transition: 0.3s;
}

/* JS INTERACTION EFFECT */
.item.active {
  transform: scale(1.03);
  border-color: #d9741d;
}

/* ===============================
   FOOTER
   =============================== */
footer {
  background-color: #d9741d;
  color: #d9741d;
  text-align: center;
  padding: 15px;
}

/* ===============================
   SIMPLE FADE ANIMATION
   =============================== */
p {
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}